[submodule "gmmk-pro/qmk_firmware"]
	path = gmmk-pro/qmk_firmware
	url = git@github.com:qmk/qmk_firmware.git
	ignore = dirty
[submodule "qmk_firmware"]
	path = qmk_firmware
	url = git@github.com:justinjohnso/qmk_firmware.git
	ignore = dirty